{% extends 'base_generic.html' %}

{% block title %}
<title>Katalog Buku</title>
{% endblock title %}

{% block content %}
    {% comment %} <h1>Local Library Home</h1>
    <p>Welcome to LocalLibrary, a website developed by <em> Iqbal </em> </p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> {{num_books}}</li>
        <li><strong>Copies:</strong> {{num_instances}}</li>
        <li><strong>Copies available:</strong> {{num_instances_available}}</li>
        <li><strong>Authors:</strong>{{num_authors}}</li>
        <li><strong>Genres:</strong> {{num_genres}}</li>
    </ul>
    <p>
        Kunjungan ke {{ num_visits }}
    </p> {% endcomment %}
<div class="container min-h-screen mx-auto flex justify-center items-center">
    <div class="indicator">
        <span class="indicator-item badge badge-secondary">99+</span> 
        <button class="btn">inbox</button>
    </div>
</div>
{% endblock content %}